*{background-color:rgb(5, 52, 12);}
*{color: rgb(240,253,244);}
h3{color:rgb(253,224,71)}
li.myclass{color:rgb(253,224,71)}
#link8{text-decoration: none;}
#link9{text-decoration:none;}
#link10{text-decoration: none;}
#link8,#link9,#link10{font-size: 20px;}
h1{color:rgb(253,224,71)}
#para11 b {color:rgb(253, 223, 73)}
#para12 b {color:rgb(253,224,71)}
#para13{font-style: oblique;}
li.hd{font-style: oblique;}
#b4{color:rgb(253,224,71)}
#p1{font-style: oblique;}
#wer1,#wer2,#wer3,#wer4,#wer5,#wer6,#wer7,#wer8,#wer9,#wer10,#wer11{ font-style:oblique;}
h4{color:rgb(253, 223, 73)}
#sar1,#sar2,#sar3{color:rgb(253,224,71)}
#qwe{color:rgb(253,224,71)}
#wer15{color:rgb(253,224,71)}
input[type="submit"]{color:rgb(253,224,71)}
#link8,#link9,#link10{color:rgb(253,224,71)}